Source: aura
Priority: optional
Maintainer: Andrew 'Necromant' Andrianov <andrew@ncrmnt.org>
Build-Depends: debhelper (>= 9), liblua5.2-dev, libusb-1.0-0-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://github.com/nekromant/aura
#Vcs-Git: git://anonscm.debian.org/collab-maint/aura.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/aura.git;a=summary

Package: aura-dev
Section: libdevel
Architecture: any
Depends: aura (= ${binary:Version}), ${misc:Depends}
Description: Universal RPC library to interface with different hardware (headers)
 This library can kick ass ;)

Package: aura
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},  lua5.2, libusb-1.0-0
Description: Universal RPC library to interface with different hardware (binary files)
 This library can kick ass ;)
